h1{
    text-align: center;
}
#title{
    background-color: rgb(190, 190, 190);
    text-align: center;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
#img-div{
    margin: auto;
    width: 50%;
}